@import 'node_modules/swiper/css/swiper';

.swiper-pagination {
  position: relative;
  bottom: 0 !important;
  text-align: right;
  padding-top: 10px;
}

.swiper-pagination-bullet-active {
  background-color: $white !important;
}

.swiper-pagination-bullet:only-child {
  display: none;
}

.swiper-container {
  position: static;
}

.swiper-slide {
  height: auto;
}
